<div class="alert alert-danger" *ngIf="errores?.length > 0">
    <ul>
        <li *ngFor="let err of errores "> {{err}} </li>
    </ul>
</div>
<div class="card-border shadow" *ngIf="cliente">
    <h5 class="card-header">{{title}}</h5>
    <div class="card-body">

        <form #clienteForm="ngForm">

            <div class="form-group row">
                <label for="nombre" class="col-form-label col-sm-2">Nombre</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.nombre" name="nombre" required
                        minlength="4" #nombre="ngModel">

                    <div class="alert alert-danger" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
                        <div *ngIf="nombre.errors.required">
                            El nombre no puede estar vacio
                        </div>
                        <div *ngIf="nombre.errors.minlength">
                            El nombre debe tener al menos cuatro letras
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <label for="apellido" class="col-form-label col-sm-2">Apellido</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.apellido" name="apellido" required
                        minlength="4" #apellido="ngModel">

                    <div class="alert alert-danger" *ngIf="apellido.invalid && (apellido.dirty || apellido.touched)">
                        <div *ngIf="apellido.errors.required">
                            El apellido no puede estar vacio
                        </div>
                        <div *ngIf="apellido.errors.minlength">
                            El apellido debe tener al menos cuatro letras
                        </div>
                    </div>
                </div>

            </div>


            <div class="form-group row">
                <label for="dni" class="col-form-label col-sm-2">Dni</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.dni" name="dni" required minlength="6"
                        #dni="ngModel">

                    <div class="alert alert-danger" *ngIf="dni.invalid && (dni.dirty || dni.touched)">
                        <div *ngIf="dni.errors.required">
                            El dni no puede estar vacio
                        </div>
                        <div *ngIf="dni.errors.minlength">
                            El dni debe tener al menos 6 numeros
                        </div>
                    </div>
                </div>

            </div>


            <div class="form-group row">
                <label for="email" class="col-form-label col-sm-2">Email</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.email" name="email" required email
                        minlength="7" #email="ngModel">

                    <div class="alert alert-danger" *ngIf="email.invalid && (email.dirty || email.touched)">
                        <div *ngIf="email.errors.required">
                            El email no puede estar vacio
                        </div>
                        <div *ngIf="email.errors.minlength">
                            El email debe tener al menos 7 caracteres
                        </div>
                        <div *ngIf="email.errors.email">El email debe tener un formato válido</div>
                    </div>
                </div>

            </div>


            <div class="form-group row">
                <label for="telefono" class="col-form-label col-sm-2">Telefono</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" [(ngModel)]="cliente.telefono" name="telefono" required
                        minlength="8" #telefono="ngModel">
                    <div class="alert alert-danger" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
                        <div *ngIf="telefono.errors.required">
                            El telefono no puede estar vacio
                        </div>
                        <div *ngIf="telefono.errors.minlength">
                            El telefono debe tener al menos 8 numeros
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group row">
                <label for="telefono" class="col-form-label col-sm-2">Fecha</label>
                <div class="col-sm-6">
                    <input type="date" class="form-control" [(ngModel)]="cliente.fechaIngreso" name="fechaIngreso" required>
                   
                </div>

            </div>

            
            <div class="form-group row">
                <label for="telefono" class="col-form-label col-sm-2">Region</label>
                <div class="col-sm-6">
                    <select [compareWith]="compararRegion" class="form-control" [(ngModel)]="cliente.region" name="reguib" required>
                       <option [ngValue]="undefined"> ---Seleccionar region--- </option>
                        <option *ngFor="let region of regiones" [ngValue]="region">{{region.nombre}}</option>
                    </select>
                   
                </div>

            </div>

            <div class="form-group row">
                <div class="col-sm-6">
                    <button class="btn btn-success" role="button" (click)='agregarCliente()'
                        *ngIf="!cliente.idCliente else elseBlock" [disabled]="!clienteForm.form.valid">Crear</button>

                    <ng-template #elseBlock>
                        <button class="btn btn-success" role="button" (click)='actualizarCliente()'
                            [disabled]="!clienteForm.form.valid">Modificar</button>
                    </ng-template>
                </div>
            </div>

        </form>
    </div>

</div>